.card {
  float: left;
  border: solid 1px black;
  width: 100px;
  border-radius: 5px;
  height: 140px;
  margin-right: 20px;
}

.card img{
  width: 100%;
}

.covered {
  background-image: url(../img/card-back.png);
  background-size: contain;

}

.covered img{
  display: none;
}

.hand {
  overflow: auto;
}
