
.errything {
  text-align: center;
  width: 600px;
  margin: 0 auto;
}

.dealer-hand-container {
  margin-bottom: 40px;
}

.player-hand-container {
  margin-top: 30px;
}

.card {
  border: solid 1px black;
  width: 100px;
  border-radius: 5px;
  height: 140px;
  margin-right: 20px;
  /*display: inline-block;*/
  float: left;
}

.card img{
  width: 100%;
}

.covered {
  background-image: url(../img/card-back.png);
  background-size: contain;

}

.covered img{
  display: none;
}

.hand {
  overflow: auto;
}

.score-card-container {
  margin: 0 auto;
}

h1 {
  height: 40px;
}

body {
 background: #ccc;
}

.flip {
  -webkit-perspective: 800;
   /*width: 400px;*/
   /*height: 200px;*/
    position: relative;
    margin: 50px auto;
}
.flip .card.flipped {
  -webkit-transform: rotatey(-180deg);
}
.flip .card {
  /*width: 100%;*/
  /*height: 100%;*/
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}
.flip .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
    font-family: Georgia;
    font-size: 3em;
    text-align: center;
    line-height: 200px;
}
.flip .card .front {
  position: absolute;
  z-index: 1;
    background: black;
    color: white;
    cursor: pointer;
}
.flip .card .back {
  -webkit-transform: rotatey(-180deg);
    background: blue;
    background: white;
    color: black;
    cursor: pointer;
}
